nav {
    background: chartreuse;
    /* border-bottom: 1px solid gainsboro; */
}

.login {
    height: 30px;
    width: 70px;
}

.register {
    width: 70px;
    height: 30px;
    background-color: white;
    border-radius: 4px;
}

.dropdown-item {
    cursor: pointer;
}