nav {
    background: #12372A;
}

a {
    color: white;
}

a.nav-link.active {
    color: white;
}

.dropdown-toggle {
    color: white;
}

.dropdown-toggle:hover {
    color: white;
}

.dropdown-item {
    color: black;
}

#login {
    height: 30px;
    width: 70px;
}

#register {
    width: 70px;
    height: 30px;
    background-color: #FBFADA;
    color: black;
    border-radius: 4px;
}

.dropdown-item {
    cursor: pointer;
}