#filters {
    display: flex;
    align-items: center;
    width: 1000px;
    gap: 50px;
}

.buttons {
    display: flex;
    gap: 20px;
    align-self: flex-end;
}

.filter {
    background-color: #436850;
    color: white;
}

.reset {
    background-color: #ADBC9F;
    color: white;
}