<div *ngIf="!dataLoaded" class="spinner-border" role="status"></div>
<div *ngIf="dataLoaded" id="car-details-card">
    <div class="photo-section">
        <img src="{{currentImagePath | imagePath}}" alt="car photo">
    </div>
    <div class="info-section">
        <h3 class="mb-5">{{currentCar.carName}}</h3>
        <div class="all-photos-section">
            <img (click)="setCurrentImage(image.imagePath)" *ngFor="let image of images"
                src="{{image.imagePath | imagePath}}">
        </div>
        <div id="car-title"><strong>Özellikler:</strong></div>
        <div class="details">
            <div class="info-item">
                <div>
                    <strong>Marka:</strong>
                </div>
                <span>{{currentCar.brandName}}</span>
            </div>
            <div class="info-item">
                <div>
                    <strong>Renk:</strong>
                </div>
                <span>{{currentCar.colorName}}</span>
            </div>
            <div class="info-item">
                <div>
                    <strong>Yıl:</strong>
                </div>
                <span>{{currentCar.modelYear}}</span>
            </div>
            <div class="info-item">
                <div>
                    <strong>Fiyat (Günlük):</strong>
                </div>
                <span>{{currentCar.dailyPrice}} TL</span>
            </div>
        </div>
        <div class="button-holder">
            <button class="btn" (click)="deleteCar()"><i class="bi bi-trash"></i></button>
            <button routerLink="edit" class="btn"><i class="bi bi-pencil-square"></i></button>
            <button routerLink="rent" class="btn btn-success w-100">Kirala</button>
        </div>
    </div>
</div>