<body>

    <main class="form-signin w-25 mx-auto">
        <form *ngIf="loginForm" class="d-flex flex-column gap-4" [formGroup]="loginForm">
            <h1 class="h3 mb-3 fw-normal">Giriş Yap</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                    formControlName="email">
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                    formControlName="password">
                <label for="floatingPassword">Şifre</label>
            </div>
            <button class="btn w-100 py-2 submit" type="button" (click)="login()">Giriş Yap</button>
        </form>
    </main>

</body>