.card:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

#car-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;

    width: 80%;
    height: auto;
    padding-bottom: 20px;
}